<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright (c) 2013 ICRL
See the file license.txt for copying permission.
-->

<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="IronPython" version="2.7.3" targetFramework="net45" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="net45" />
</packages>